.header {
  width: 100%;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContent {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.leftNav {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative; /* Position relative pour le tooltip */
}

.rightNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vaults {
  margin-right: 20px;
  cursor: not-allowed; /* Indiquer que c'est inactif */
  font-weight: 500;
  color: rgb(150, 150, 150); /* Couleur moins noire */
  text-decoration: none;
}

.dashboard {
  margin-right: 20px;
  cursor: not-allowed; /* Indiquer que c'est inactif */
  font-weight: 500;
  color: rgb(150, 150, 150); /* Couleur moins noire */
  text-decoration: none;
}

.tooltip {
  position: absolute; /* Position absolue pour le tooltip */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1000;
  margin-top: -5px; /* Ajustement pour la position du tooltip */
  white-space: nowrap; /* Empêcher le retour à la ligne */
  transform: translateX(-50%); /* Centrer le tooltip */
  left: 50%; /* Centrer le tooltip */
}

.headerDivider {
  height: 1px;
  background-color: black;
  width: 100%;
}

/* Responsiveness */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  
  .headerContent {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .rightNav {
    margin-top: 10px;
    width: 100%;
    justify-content: flex-start;
  }
}

.chainSelector {
  position: relative;
  display: inline-block;
}

.selectedChain {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectedChain:hover {
  background-color: #f0f0f0;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: block; /* Affiche le menu déroulant */
}

.chainOption {
  padding: 8px 12px;
  width: 100%;
  text-align: left;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chainOption:hover {
  background-color: #f0f0f0;
}
