/* header.module.css */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
  }
  
  .nav {
    display: flex;
    align-items: center;
    flex: 1; /* Permet au nav de prendre tout l'espace disponible */
  }
  
  .leftNav {
    flex: 1; /* Prendra le tiers gauche du nav */
  }
  
  .rightNav {
    display: flex;
    align-items: center;
  }
  .vaults{
    padding-left: 25px;
  }

  .dashboard{
    padding-right: 25px;
  }
  .vaults,
  .explorer,
  .dashboard {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .vaults:hover,
  .explorer:hover,
  .dashboard:hover {
    color: #0064B7;
  }