/* styles/globals.css */
body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Définissez le poids par défaut selon vos besoins */
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
}
