/* header.module.css */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
  }
  
  .nav {
    display: flex;
    align-items: center;
    flex: 1; /* Permet au nav de prendre tout l'espace disponible */
  }
  
  .leftNav {
    flex: 1; /* Prendra le tiers gauche du nav */
  }
  
  .rightNav {
    display: flex;
    align-items: center;
  }
  .vaults{
    padding-left: 25px;
  }

  .dashboard{
    padding-right: 25px;
  }
  .vaults,
  .explorer,
  .dashboard {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
    color: white; /* Couleur de texte par défaut */
    text-decoration: none; /* Enlever le soulignement par défaut */
  }
  
  .vaults:hover,
  .explorer:hover,
  .dashboard:hover {
    color: #ffa500; /* Orange au survol */
  }
  
  .searchBarContainer {
    display: flex;
    flex: 1; /* Permet à la searchBar de prendre tout l'espace disponible */
    align-items: center;
    padding-right: 100px;
  }
  
  .searchBar {
    width: 500px; /* Prendre toute la largeur disponible */
    padding: 10px;
    border: 1px solid #444;
    border-radius: 15px;
    background-color: #333;
    color: white;
    outline: none;
  }
  
  .searchBar::placeholder {
    color: #bbb;
  }
  
  .centered {
    /* Styles pour centrer le texte dans la barre de recherche */
    text-align: center;
  }
  
  .connectButton {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #1d1815;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .connectButton:hover {
    background-color: #cc8400;
  }
  