.vaultSection {
    width: 100%; /* Full width */
    padding: 50px 20px 50px; /* Padding around the section */
    background-color: #1d1815;
  }
  
  .vault {
    padding-bottom: 10px;
    padding: 28px;
    background-color: #2c2520;
    border: 1px solid #444;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 10px; /* Horizontal margin for spacing */
    height: 400px; /* Increased height for more vertical space */
    flex-direction: column;
    justify-content: space-between;
  }
  
  .vault:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .vault h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .vault p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .assetsButton,
  .chainButton,
  .simulateButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d15e00;
    color: #1d1815;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .assetsButton:hover,
  .chainButton:hover,
  .simulateButton:hover {
    background-color: #cc8400;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: white;
  }
  
  .slick-dots li button:before {
    color: white;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .vault {
      width: 90%;
      margin: 10px 0;
    }
  }
  