.vaultSection {
  width: 100%;
  padding: 50px 20px;
  background-color: #363D3F;
}

.vaultGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.vault {
  padding: 28px;
  background-color: #505353;
  border: 1px solid #444;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.vault:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.vault h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.vault p {
  font-size: 14px;
  margin-bottom: 20px;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropdownButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #0064B7;
  color: #1d1815;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdownWrapper:hover .dropdownContent {
  display: block;
}

.dropdownItem {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.arrowDown {
  margin-left: auto;
}

.simulateButton {
  margin-top: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #0064B7;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.simulateButton:hover {
  background-color: #13273F;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Responsiveness */
@media (max-width: 1024px) {
  .vaultGrid {
    grid-template-columns: 1fr;
  }
}
